<section class="section">
    <div id="barra-lateral">
        <nav>
            <h4 id="barra-lateral-tituloLista">Sumário: </h4>
            <ul id="barra-lateral-lista">
                <li class="margens"><a class="barra-lateral-linkes" href="#1">1. Origem dos Agrotóxicos</a></button></li>
                <li class="margens"><a class="barra-lateral-linkes" href="#1.1">1,1. Surgimento dos Agrotóxicos</a></li>
                <li class="margens"><a class="barra-lateral-linkes" href="#1.2">1,2. Revolução Verde</a></li>
                <li class="margens"><a class="barra-lateral-linkes" href="#1.3">1,3. Agrotoxicos no Brasil</a></li>
                <li class="margens"><a class="barra-lateral-linkes" href="#2">2. Tipos de Agrotóxicos</a></li>
                <li class="margens"><a class="barra-lateral-linkes" href="#2.1">2,1. Os Organofosforados e Carbamatos</a></li>
                <li class="margens"><a class="barra-lateral-linkes" href="#2.2">2,2. As Piretrinas</a></li>
                <li class="margens"><a class="barra-lateral-linkes" href="#2.3">2,3. Paraquat</a></li>
                <li class="margens"><a class="barra-lateral-linkes" href="#2.4">2,4. Clorofenóis</a></li>
            </ul>
        </nav>
    </div>
    <div>
        <article class="agrotoxicos-conteudo">
            <img src="/public/img/plantacao.jpg" class="agrotoxicos-conteudo-img-p">
            <h4 class="agrotoxicos-conteudo-titulo-p" id="1">Origem dos Agrotóxicos:</h4>
            <h5 class="agrotoxicos-conteudo-titulo-s" id="1.1">Surgimento dos Agrotóxicos:</h5>
            <p id="agrotoxicos-conteudo-textos">
                Os agrotóxicos são compostos químicos que foram criados durante a Segunda Guerra Mundial para serem
                usados
                como armas químicas, porém, após o final da guerra foram usados como defensivos agrícolas. o
                primeiro
                agrotóxico que era composto orgânico DDT foi desenvolvido no ano de 1874 por Othomar Zeidler.
                Contudo
                foi
                somente em 1939 que Paul Muller percebeu que o composto poderia ser utilizado como um tipo de
                inseticida.
            </p>
            <p id="agrotoxicos-conteudo-textos">
                No ano de 1948 Paul Muller recebeu o Nobel de Química por ter descoberto e aplicado o DDT para
                combater
                insetos. O composto DDT era utilizado em larga escala para combater o inseto responsável por
                espalhar a
                malária.
                Porém, depois de algum tempo descobriu-se que assim como todos os outros compostos organoclorados, o
                DDT, é
                teratogênico, cancerígeno e se acumula no organismo.
            </p>
            <h5 class="agrotoxicos-conteudo-titulo-s" id="1.2">Revolução Verde:</h5>
            <p id="agrotoxicos-conteudo-textos">
                Por volta do ano de 1950 surgiu um movimento chamado “Revolução Verde”, que foi o movimento
                responsável
                por
                transformar os agrotóxicos de armas químicas para químicos utilizados no campo. Inicialmente
                considerados
                uma grande descoberta, os agrotóxicos, se aplicados em excesso podem ser muito prejudiciais à saúde,
                podendo
                causar intoxicação.
            </p>
            <p id="agrotoxicos-conteudo-textos">
                No de 1962, a cientista americana Rachel Carson (1907-1964) publicou o livro Primavera Silenciosa,
                considerado um marco histórico no movimento ambientalista mundial, que mostrou pela primeira vez um
                alerta
                relacionado aos danos causados pelo uso de agrotóxicos, especialmente o diclorodifeniltricloroetano
                –
                DDT. O
                título da obra está relacionado ao impacto dos produtos para as cadeias alimentares, já que as aves
                que
                se
                reproduzem na primavera podem deixar de existir ao se alimentarem de insetos contaminados por
                agrotóxicos.
            </p>
            <h5 class="agrotoxicos-conteudo-titulo-s" id="1.3">Agrotóxicos no Brasil:</h5>
            <p id="agrotoxicos-conteudo-textos">
                O surgimento dos agrotóxicos no Brasil se deu a partir da Revolução Verde, que fez com que fossem
                chegar
                ao
                Brasil a partir das décadas de 60 e 70. A revolução verde foi um processo de mudança da política
                agrícola no
                país implementado a partir da segunda guerra mundial. Com um falso discurso de modernização do
                campo,
                esse
                processo incentivou a prática de monocultivos, o uso de sementes geneticamente modificadas, a forte
                mecanização do campo e o uso dos pacotes agroquímicos. Atualmente, o Brasil possui mais de 400 tipos
                de
                agrotóxicos registrados.
            </p>
            <p id="agrotoxicos-conteudo-textos">
                Quase toda a tecnologia que surgiu na revolução verde, desde as máquinas aos agrotóxicos, foi
                proveniente de
                adaptações de pesquisas e equipamentos utilizados na guerra. A produção e a comercialização dos agro
                venenos
                no Brasil e no mundo se concentra na mão de seis grandes empresas transnacionais, que controlam mais
                de
                80%
                do mercado de venenos. São elas: Monsanto, Syngenta, Bayer, Dupont, Dow e Basf.
            </p>
            <p id="agrotoxicos-conteudo-textos">
                Além de controlar a fabricação dos agrotóxicos, essas empresas também controlam a produção e
                comercialização
                de sementes, gerando um ciclo vicioso de consumo. Desse modo, o agricultor que passa a utilizar
                sementes
                transgênicas e venenos será sempre dependente dessas empresas.
            </p>
            <h4 class="agrotoxicos-conteudo-titulo-p" id="2">Tipos de Agrotóxicos:</h4>
            <p id="agrotoxicos-conteudo-textos">
                Existem diversos tipos de agrotóxicos, com finalidades distintas. Alguns deles são:
            </p>
            <ul id="agrotoxicos-conteudo-lista">
                <li class="margens" id="debug1">fungicidas (atingem fungos);</li>
                <li class="margens" id="debug1">herbicidas (atingem plantas);</li>
                <li class="margens" id="debug1">inseticidas (atingem insetos);</li>
                <li class="margens" id="debug1">acaricidas (atingem ácaros);</li>
                <li class="margens" id="debug1">rodenticidas (atingem roedores).</li>
            </ul>
            <p id="agrotoxicos-conteudo-textos">Além desses, já foram desenvolvidos defensores químicos para controle de larvas,
                formigas,
                bactérias e
                moluscos, entre outros. Eles também se diferenciam pelas formas como agem no combate às pragas,
                podendo
                ser
                por meio de contato ou ingestão.
            </p>
            <p id="agrotoxicos-conteudo-textos">
                A Anvisa os classifica de acordo com o nível de risco que oferecem e de danos que causam à saúde
                humana:
                pouco tóxicos, medianamente tóxicos, altamente tóxicos e extremamente tóxicos.
            </p>
            <p id="agrotoxicos-conteudo-textos">
                agrotóxicos podem ser divididos em dois grupos: inseticidas e herbicidas. No primeiro grupo estão
                três
                subgrupos grandes: os organoclorados, os organofosforados e carbamatos e as piretrinas. Dentre os
                grupos
                que
                mais se destacam no grupo dos herbicidas estão clorofenóis, Paraquat e dinitrofenóis.
            </p>
            <p id="agrotoxicos-conteudo-textos">
                agrotóxicos podem ser divididos em dois grupos: inseticidas e herbicidas. No primeiro grupo estão
                três
                subgrupos grandes: os organoclorados, os organofosforados e carbamatos e as piretrinas. Dentre os
                grupos
                que
                mais se destacam no grupo dos herbicidas estão clorofenóis, Paraquat e dinitrofenóis.
            </p>
            <h5 class="agrotoxicos-conteudo-titulo-s" id="2.1">Os Organofosforados e Carbamatos</h5>
            <p id="agrotoxicos-conteudo-textos">
                Os inseticidas organofosforados e carbamatos são os mais utilizados hoje em dia, a absorção deles
                também
                se
                dá por meio das vias oral, dérmica e respiratória. Dentre os seus efeitos estão a alteração do
                funcionamento
                de glândulas e dos músculos do cérebro.

            </p>
            <h5 class="agrotoxicos-conteudo-titulo-s" id="2.2">As Piretrinas</h5>
            <p id="agrotoxicos-conteudo-textos">
                Os inseticidas conhecidos como piretrinas podem ser naturais ou artificiais, pelo fato de serem
                instáveis a
                luz não são muito utilizados na agricultura. Esse tipo de inseticida acaba sendo usado mais no
                ambiente
                doméstico em forma de spray, tabletes ou espirais que acabam sendo dissolvidos no aquecimento. Um
                dos
                principais problemas apresentados por essas substâncias é o fato de causarem alergias podendo
                começar
                crises
                de asma ou bronquite em crianças principalmente.
            </p>
            <h5 class="agrotoxicos-conteudo-titulo-s" id="2.3">Paraquat</h5>
            <p id="agrotoxicos-conteudo-textos">
                Um herbicida que oferece um grande risco, é capaz de matar todos os tipos de plantas. Essa
                substância é
                responsável por causar lesões no rim e pode se concentrar nos pulmões causando uma fibrose
                irreversível.
            </p>
            <h5 class="agrotoxicos-conteudo-titulo-s" id="2.4">Clorofenóis</h5>
            <p id="agrotoxicos-conteudo-textos">
                Os dois principais clorofenóis são os 2.4-D e o 2.4.5-T e o seu principal perigo reside no fato de
                serem
                cancerígenos. O agente laranja, que ficou famoso pelo seu uso na Guerra do Vietnã, é resultado da
                mistura
                desses dois clorofenóis.
            </p>
        </article>
    </div>
</section>

<!-- local para descanso
sinta-se a vontade para descansar nessas linhas
jovem guerreiro -->