<form id="formulario" action="/contato/comentario" method="post">
    <div class="container" id="container">
        <div class="form-outline mb-4" id="formulario-nome">
            <input type="text" name="nome" id="nome" class="form-control" />
            <label class="form-label" for="nome">Nome</label>
        </div>

        <div class="form-outline mb-4" id="formulario-email">
            <input type="email" name="email" id="email" class="form-control" />
            <label class="form-label" for="email">Email</label>
        </div>

        <div class="form-outline mb-4" id="formulario-mensagem">
            <textarea class="form-control" name="conteudo" id="conteudo" rows="4"></textarea>
            <label class="form-label" for="conteudo">Mensagem</label>
        </div>

        <div class="form-check d-flex justify-content-center mb-4">
            <input class="form-check-input me-2" type="checkbox" value="" id="form4Example4" checked />
            <label class="form-check-label" for="form4Example4">
                Envie-me uma cópia desta Mensagem.
            </label>
        </div>

        <button type="submit" class="btn btn-primary btn-block mb-4">Enviar</button>
    </div>
</form>

<section class="sessao-comentarios">
    <% comentarios.forEach(comentario => { %>
        <div class="comentario">
            <div class="comentario-titulo">
                <h3><%= comentario.nome %></h3>
                <span><%= comentario.dataentrada %></span>
            </div>
            <div class="comentario-texto">
                <p class="lh-1 text-break text-start">
                    <%= comentario.conteudo %>
                </p>
            </div>
        </div>
        
    <% }) %>
</section>

<div class="col-xl-5 col-lg-6 mb-2">
    <div class="toast show fade text-white bg-danger" role="alert" aria-live="assertive" aria-atomic="true" data-mdb-color="danger" data-mdb-autohide="false">
      <div class="toast-header text-white bg-danger">
        <i class="fas fa-exclamation-circle fa-lg me-2"></i>
        <strong class="me-auto">ERRO FORMULARIO!</strong>
        <small id="titulo-erro"></small>
        <button type="button" class="btn-close btn-close-white" data-mdb-dismiss="toast" aria-label="Close"></button>
      </div>
      <div class="toast-body" id="erro-mensagem"></div>
    </div>
  </div>