<div class="slideshow-container">

    <div class="mySlides fade">
        <div class="numbertext">1 / 3</div>
        <img src="/public/img/agrotoxicos-explicacao.jpg" style="width:100%">
        <div class="text">Caption Text</div>
    </div>

    <div class="mySlides fade">
        <div class="numbertext">2 / 3</div>
        <img src="/public/img/consumoagrotoxicobrasil.png" style="width:100%">
        <div class="text">Caption Two</div>
    </div>

    <div class="mySlides fade">
        <div class="numbertext">3 / 3</div>
        <img src="/public/img/toxicidade.png" style="width:100%">
        <div class="text">Caption Three</div>
    </div>

    <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
    <a class="next" onclick="plusSlides(1)">&#10095;</a>
</div>
<br>

<div style="text-align:center">
    <span class="dot" onclick="currentSlide(1)"></span>
    <span class="dot" onclick="currentSlide(2)"></span>
    <span class="dot" onclick="currentSlide(3)"></span>
</div>

<div id="espacamento">
    <div id="conteudo">
        <h1 id="titulo1"> Agrotóxicos </h1>
        <h3 id="titulo1"> Projeto de Desenvolvimento Web 2 com Química 4</h3>
        <p id="texto">
            Este site está sendo criado para o trabalho das diciplinas de Desenvolvimento Web 2 e Química 4, e
            está
            sendo feito pelos alunos Felipe Rodrigues Ferraz, Gabriel Taveira Granja e Wilker Sebastian Afonço
            Pereira, alunos da turma 229A do Curuso Integrado de Informatica do IFMS Campus Campo Grande, no
            qual,
            falaremos do tema Agrotóxicos.
        </p>

        <h4 id="titulo2"> Mas o que são Agrotóxicos? </h4>

        <p id="texto">
            Agrotóxicos são substâncias químicas ou biológicas utilizadas no controle de pragas na agricultura e
            também para proteger as plantações.

            O intuito é evitar que micro-organismos e insetos ataquem as plantações e consumam toda a colheita.
            Por
            isso, os agrotóxicos são aplicados na agricultura com maior força e estão presentes na maioria dos
            alimentos.
        </p>

        <h4 id="titulo2"> Como são usados? </h4>
        <p id="texto">
            Para combater as pragas ou evitá-las, os agricultores espalham esses produtos em sua plantação.
            Essa
            substância pode ser aplicada de diversas formas, como misturada a água ou em pó.

            Basicamente existem dois tipos de agrotóxicos: os químicos e os biológicos. O primeiro refere-se
            às
            substâncias criadas em laboratório e que possuem como base substâncias químicas, como os metais.
            Já o
            segundo grupo são substâncias naturais, orgânicas e que ajudam no extermínio das pragas.

            O agrotóxico ainda pode ser classificado em duas categorias: os inseticidas e os herbicidas.
            Inseticidas, como o próprio nome sugere, eliminam pragas de insetos e demais micro-organismos
            que afetam
            as plantações e até mesmo as residências em grandes cidades. Já os herbicidas extinguem as ervas
            daninhas e plantas oportunistas na agricultura.
        </p>
    </div>
</div>