<h1>Quem Somos</h1>
<div class="estudantes">
  <p>

    Somos estudantes do IFMS da turma 229A e esse é o nosso site <br>
    do projeto integrao de desenvolvimento web e quimica do 5 semestre. <br>
    Que tem como objetivo do desenvolvimento de um site que explique e apresente <br>
    a historia , conceitos e classificações do agrotoxicos.<br>

  <p>
</div>

<h1>Estudantes</h1>

<div class="row" id="cards">
  <div class="col-lg-4 col-md-12 mb-4 mb-lg-0" id="card">
    <img src="/public/img/Wilker Sebastian.jpeg" id="card-img" class="card-img-top" alt="...">
    <div class="card-body" id="corpo_card">
      <h5 class="card-title">Wilker Sebastian</h5>
      <p class="card-text">Estudante de informática da 229A, dedicado a fazer o full-stack do site.</p>
    </div>
  </div>
  <div class="col-lg-4 mb-4 mb-lg-0" id="card">
    <img src="/public/img/Felipe Ferraz.jpeg" id="card-img" class="card-img-top" alt="...">
    <div class="card-body" id="corpo_card">
      <h5 class="card-title">Felipe Ferraz</h5>
      <p class="card-text">Estudante de informática da 229A, dedicado a fazer a estilização do site e <br>
        e da parte do conteudo.
      </p>
    </div>
  </div>
  <div class="col-lg-4 mb-4 mb-lg-0" id="card">
    <img src="/public/img/Gabriel Genja.jpeg" id="card-img" class="card-img-top" alt="...">
    <div class="card-body" id="corpo_card">
      <h5 class="card-title">Gabriel Granja</h5>
      <p class="card-text">A gente ainda não sabe o que ele faz</p>
    </div>
  </div>
</div>
</div>