<section class="conteudo-principal">
  <div class="conteudo-principal-estudantes">
    <h1 class="conteudo-principal-estudantes-titulo">Quem Somos</h1>

    <p class="conteudo-principal-estudantes-texto">
      Somos estudantes do IFMS da turma 229A e esse é o nosso site <br>
      do projeto integrao de desenvolvimento web e quimica do 5 semestre. <br>
      Que tem como objetivo do desenvolvimento de um site que explique e apresente <br>
      a historia , conceitos e classificações do agrotoxicos.<br>
    <p>
  </div>

  <div class="flip-box">
    <div class="flip-box-inner">
      <div class="flip-box-front">
        <img class="conteudo-principal-img" src="public/img/Felipe Ferraz.jpeg" alt="Felipe 'Finissimo' Ferraz">
        <div class="content">
          <h1>Felipe Rodrigues Ferraz</h1>
          <p>Front-end dev</p>
        </div>
      </div>
      <div class="flip-box-back">
        <img class="conteudo-principal-img" src="public/img/Wilker Sebastian.jpeg" alt="Wilker 'Machine-Man' Sebastian">
        <div class="content">
          <h1>Wilker Sebastian Afonso Pereira</h1>
          <p>Back-end dev</p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="conteudo-secundario">
  <h3 class="conteudo-secundario-titulo">O que são os Agrotóxicos?</h3>
  <p class="conteudo-secundario-texto">Este é um Trabalho realizado pelos alunos Felipe Rodrigues Ferraz,
      Gabriel Taveira Granja e Wilker
      Sebastian Afonso Pereira</p>
  <p class="conteudo-secundario-texto">Somos da Turma 229a do Curso Técnico de informática do Istitudo Federal
      do Mato Grosso do Sul</p>

  <div class="flip-box2">
      <div class="flip-box2-inner">
          <div class="flip-box2-front">
              <img class="conteudo-principal-img" src="public/img/Gabriel Genja.jpeg" alt="Felipe 'Finissimo' Ferraz">
              <div class="content2">
                  <h1>Gabriel Taveira Granja</h1>
                  <p>Pesquisador</p>
              </div>
          </div>
      </div>
  </div>
</section>
</section>

<!-- <h1>Estudantes</h1>

<div class="row" id="cards">
  <div class="col-lg-4 col-md-12 mb-4 mb-lg-0" id="card">
    <img src="/public/img/Wilker Sebastian.jpeg" id="card-img" class="card-img-top" alt="...">
    <div class="card-body" id="corpo_card">
      <h5 class="card-title">Wilker Sebastian</h5>
      <p class="card-text">Estudante de informática da 229A, dedicado a fazer o full-stack do site.</p>
    </div>
  </div>
  <div class="col-lg-4 mb-4 mb-lg-0" id="card">
    <img src="/public/img/Felipe Ferraz.jpeg" id="card-img" class="card-img-top" alt="...">
    <div class="card-body" id="corpo_card">
      <h5 class="card-title">Felipe Ferraz</h5>
      <p class="card-text">Estudante de informática da 229A, dedicado a fazer a estilização do site e <br>
        e da parte do conteudo.
      </p>
    </div>
  </div>
  <div class="col-lg-4 mb-4 mb-lg-0" id="card">
    <img src="/public/img/Gabriel Genja.jpeg" id="card-img" class="card-img-top" alt="...">
    <div class="card-body" id="corpo_card">
      <h5 class="card-title">Gabriel Granja</h5>
      <p class="card-text">A gente ainda não sabe o que ele faz</p>
    </div>
  </div>
</div>
</div> -->