#textos {
    text-align: justify;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    margin-top: 4%;
}

#barra_lateral {
    position: fixed;
    font-size: 105%;
    padding: 15px;
    left: 74%;
    width: 400px;
    float: right;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    text-align: left;
    background-color: white;
    border-radius: 10px;
}

.agrotoxicos_texto {
    padding: 30px;
    width: 1050px;
    max-width: 70%;
    background-color: white;
}

#lista {

    list-style-type: none;

}

.img-p {
    width: 90%;
    border-radius: 5px;
}

#tituloLista {

    margin-left: 25%;

}

.linkes {

    text-decoration: none;
    color: black;

}

.linkes:hover {

    text-decoration: none;
    padding: 5px;
    color: rgb(2, 117, 50);

}

.titulo-p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
}

.titulo-s {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    magin-top: 2%;
}

#debug1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
}