@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Sarala&display=swap');

#barra-lateral {
    position: fixed;
    font-size: 105%;
    padding: 15px;
    left: 74%;
    width: 400px;
    float: right;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    text-align: left;
    background-color: white;
    border-radius: 10px;
    box-shadow: 20px 20px 40px -6px rgba(0, 0, 0, 0.5);
}

#barra-lateral-tituloLista {
    margin-left: 25%;
}

#barra-lateral-lista {
    list-style-type: none;
}

.barra-lateral-linkes {
    text-decoration: none;
    color: black;
}

.barra-lateral-linkes:hover {
    text-decoration: none;
    padding: 5px;
    color: rgb(2, 117, 50);
}

.agrotoxicos-conteudo {
    max-width: 70%;
    padding: 30px;
    width: 1050px;
    max-width: 70%;
    background-color: white;
}

#agrotoxicos-conteudo-textos {
    text-align: justify;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    margin-top: 4%;
}

.agrotoxicos-conteudo-img-p {
    width: 90%;
    border-radius: 5px;
}

.agrotoxicos-conteudo-titulo-p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
}

.agrotoxicos-conteudo-titulo-s {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    margin-top: 2%;
}

#agrotoxicos-conteudo-lista {
    list-style-type: none;
}

#debug1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
}