#formulario {
    margin: 50px;
}

#container {
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 20px 20px 40px -6px rgba(0, 0, 0, 0.5);
}

.sessao-comentarios {

    background-color: rgb(229, 255, 224);
    width: 88%;
    margin-left: 6.5%;
    border-radius: 10px;
    padding: 20px;

}

.comentario {

    margin-top: 1%;
    margin-left: 5%;
    min-width: 30%;
    width: auto;
    max-width: 90%;
    background-color: rgb(82, 98, 110);
    border-radius: 2%;

}

.comentario-titulo {

    border-radius: 2%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: flex;
    font-size: medium;
    background-color: rgb(34, 33, 56);
    padding: 5px;
    color: rgb(238, 238, 238);

}

.comentario-titulo h3{

    margin-left: 1%;
    margin-top: 1%;

}

.comentario-titulo span{

    position: absolute;
    margin-inline-start: 65%;
    margin-top: 1%;

}

.comentario-texto{

    font-family: sans-serif;
    min-height: 30%;
    min-width: 30%;
    max-width: 90%;
    margin-left: 0%;
    color: cornsilk;

}

.comentario-texto p{

    margin-left: 2%;
    margin-top: 2%;

}